.portfolio-navbar {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0px auto;
}

.logo-container {
  padding: 7px 30px 10px 10px;
  margin: 12px 0px;
  border: 1px solid black;
}

.nav-links {
  display: inline-block;
}

.nav-link-list {
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
}

.resume-btn,
.hire-btn {
  width: 100px;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0px 5px;
  border: 1px solid gray;
  background-color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link-list li {
  margin-right: 20px;
}

.banner-section {
  height: 120vh;
  display: flex;
  flex-direction: column;
}

.banner-title {
  font-size: 5rem;
  font-weight: 500;
  display: block;
}

.banner-slogan {
  display: block;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

.arrow-sign {
  margin-top: 40px;
}

.about-container,
.projects-container {
  background-color: #f2f2f2;
}

.about,
.experience,
.projects {
  width: 1200px;
  padding: 150px 0px;
  padding-top: 100px;
  margin: 0px auto;
}

.about-img {
  width: 300px;
  height: 300px;
  background-color: #c4c4c4;
}

.section-title {
  position: relative;
  text-align: center;
}
.hr-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border: none;
  height: 1px;
  background-color: black;
}

.section-title-text-gray {
  font-size: 3rem;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #f2f2f2;
  padding: 0 10px;
}

.section-title-text-white {
  font-size: 3rem;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #ffffff;
  padding: 0 10px;
}

.about-details {
  display: flex;
  padding-top: 80px;
}

.about-text {
  flex: 2 1 0%;
}

.about-text-content {
  text-align: justify;
  font-size: 20px;
  padding-right: 25px;
}

.about-img-section {
  flex: 1 1 0%;
}

.job-container {
  display: flex;
  margin-top: 100px;
}

.job-data-container {
  border-right: 1px solid black;
  flex: 2 1 0%;
  padding-top: 30px;
  margin: 10px 0px;
}

.job-data {
  text-align: right;
  padding-right: 15px;
  margin: auto;
}

.job-data h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 5px 0px;
}

.job-data h5 {
  font-size: 14px;
  font-weight: 100;
  margin: 0px;
}

.job-details {
  flex: 7 1 0%;
  margin-left: 15px;
}

.job-details li {
  margin-bottom: 20px;
}

.job-data-container2 {
  border-left: 1px solid black;
  flex: 2 1 0%;
  padding-top: 30px;
  margin: 20px 0px;
}

.job-data2 {
  text-align: left;
  padding-left: 15px;
  margin: auto;
}

.job-data2 h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 5px 0px;
}

.job-data2 h5 {
  font-size: 14px;
  font-weight: 100;
  margin: 0px;
}

.job-details2 {
  flex: 7 1 0%;
  margin-right: 15px;
}

.job-details2 li {
  margin-bottom: 20px;
}

.single-project-container {
  display: flex;
  margin-top: 100px;
}

.project-image {
  flex: 1 1 0%;
  background-color: #c4c4c4;
  width: 100%;
  height: 300px;
  margin-right: 30px;
}

.project-details {
  flex: 1 1 0%;
}

.project-details h4 {
  font-size: 36px;
  font-weight: 100;
  margin: 0px;
}

.project-details p {
  font-size: 20px;
}

.project-links {
  display: flex;
  gap: 20px;
}

.gh-logo {
  width: 32px;
  height: 32px;
}

.link-logo {
  width: 32px;
  height: 32px;
}

.project-image2 {
  flex: 1 1 0%;
  background-color: #c4c4c4;
  width: 100%;
  height: 300px;
  margin-left: 30px;
}

.project-details2 {
  flex: 1 1 0%;
  text-align: right;
}

.project-details2 h4 {
  font-size: 36px;
  font-weight: 100;
  margin: 0px;
}

.project-details2 p {
  font-size: 20px;
}

.project-links2 {
  display: flex;
  justify-content: end;
}
.project-links2 {
  display: flex;
  gap: 20px;
}

.gh-logo {
  width: 32px;
  height: 32px;
}

.link-logo {
  width: 32px;
  height: 32px;
}
